process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]


    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }

    withName: FASTP {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }
  
    withName: BBT {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: SORTMERNA {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.log"
        ]
    }

    withName: SOURMASH {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{sig,csv}"
        ]
    }

    withName: IMPORT_SOURMASH_TO_PHYLOSEQ {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/phyloseq" },
            mode: params.publish_dir_mode,
            pattern: "*.rds"
        ]
    }

    withName: HUMANN {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
    
    withName: HUMANN_COMBINE_TABLES {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{rpk,cpm}.tsv"
        ]
    } 
}
